/*$orange :#e25f43;
$darkorange: rgb(198,83,59);*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

canvas {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  
:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
    
  }
  
  .main {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow-x:hidden;
  }

  
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 70%;
  }

  .vid-css {
    position: absolute;
    top: 200px;
    right: 250px;
    z-index: 0;
  }

  .vid-inner-css {
    position: absolute;
    top: 420px;
    right: 470px;
    z-index: 0;

  }


  .vid-inner-css img{
    height: 100px;
    width: 100px;
  }

  .vid-innest-css {
    position: absolute;
    top: 445px;
    right: 490px;
    z-index: 0;
  }

  .vid-innest-css img{
    height: 50px;
    width: 50px;
  }

  .vid-css img{
    height: 500px;
    width: 550px;
  }

  .top-cont {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin-top: 7%;
    z-index: 1;
  }

  .top-cont-inner{
    height: auto;
    width: 60%;
    line-height: 65px;
  }

  .top-cont-inner-span1 {
    font-size: 76px;
    font-weight: 700;
    color: white
  }

  .top-cont-inner-span2 {
    font-size: 76px;
    font-weight: 700;
    color: #e25f43;
    
  }

  .top-cont-inner2 {
    width: 30%;
    height: auto;
    
  }

  .top-cont-inner2-p {
    color: rgb(172, 170, 170);
    font-weight: 400;
  }

  .top-cont-inner3 {
    width: 43%;
    border-top: 1px solid rgb(198,83,59);
    padding-top: 2%;
    
  }

  .top-cont-inner3-p {
    color: rgb(198,83,59);
    font-weight: 400;
    font-size: 14px;
  }

  /*media queries till here*/

  .second-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 250px;
    height: 700px;
  }


  .second-cont-left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
  }
  
  .second-cont-left-spans {
    line-height: 55px;
    height: auto;
    
  }

  .second-cont-p-cont{
    width: 73%;
    margin-top: 20px;
    line-height: 30px;
   
  }

 .second-cont-p {
  color: rgb(172, 170, 170);
 }

 .second-cont-right{
   height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
 }

 .second-cont-right-inner{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 27px;
   padding-top: 27px;
   width:300px;
   color: rgb(172, 170, 170);
   border-bottom: 1px solid lightgray;
   align-items: center;
 }

 
 @keyframes colorswitch {
    0% {
      color: rgb(172, 170, 170);
    }
    50%{
      color: rgb(210,210,210)
    }
    100%{
      color: white
    }
 }

 .second-cont-right-inner:hover{
   transform: scale(1.1);
   transition-duration: 0.5s;
   cursor: pointer;
   animation: colorswitch 0.5s linear forwards
 }

 .second-cont-right-inner p {
   margin: 0px;
 }

 .third-cont {
  margin-top: 150px;
  height: 400px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.third-cont-flex{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding-left: 30px;
}


.third-cont-top {
  line-height: 50px;
  width: 110%;

}

.third-cont-middle{
 height: 120px;
 
 color: rgb(172, 170, 170);
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 width: 70%;
 margin-top: 40px;
}

.third-cont-middle p{
 font-size: 14px;
 line-height: 23px;
}

.fourth-cont {
  margin-top: 200px;
  height: 300px;
  width: 70%;

}

.fourth-cont-inner{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.fourth-cont-inner-top{
  line-height: 50px;
}

.fourth-cont-inner-middle {
  margin-top: 30px;
  width: 100%;
  color: rgb(172, 170, 170);
  line-height: 32px;
}

.fifth-cont {
  margin-top: 150px;
}

.item h4{
  color: rgb(210,210,210);
  width: 90%;
  
}

.item p{
  color: rgb(133, 132, 132);
  width: 90%;
}

.sixth-cont{
  margin-top: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  align-items: center;
}

.sixth-cont-upper{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.sixth-cont-upper-header {
  font-size: 56px;
  font-weight: 600;
  color: white;
}

.sixth-cont-upper-nonheader {
  text-align: center;
  line-height: 30px;
  margin-top: -15px;
  color:rgb(172, 170, 170);
}

.sixth-cont-middle {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
}

.sixth-cont-middle img{
  height: 150px;
  width: 150px;
  margin-top: 25px;
  margin-left: 2.1px;
  margin-right: 2.1px;
}

.seventh-cont {
  margin-top: 300px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 300px;
}

.seventh-cont-flex{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;

}

.seventh-cont-spans {
  word-spacing: 10px;
}

.seventh-cont-spans1{
  font-size: 46px;
  font-weight: 600;
  color:white;
}
.seventh-cont-spans2{
  font-size: 46px;
  font-weight: 600;
  color:rgb(198,83,59);
}

.seventh-cont-middle {
  line-height: 30px;
}

.seventh-cont-middle .s1 .seventh-cont-middle .s3{
  color:rgb(172, 170, 170)
}
.seventh-cont-middle .s2{
  color:rgb(198,83,59)
}

.eight-cont-footer {
  margin-top: 150px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: none;
}

.footer-left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-left iframe {
  width: 600px;
  height: 300px;
}

.footer-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.footer-right-top{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.footer-icontext{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color:rgb(216, 216, 216);
  
}

.footer-icontext p {
  margin-left: 20px;
}

.footer-right-bottom {
  height: 100px;
  border-top: 1px solid gray;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: rgb(172, 170, 170);
  word-spacing: 5px;
}


  @media (max-width:800px) {
    .top-cont {
      height: 400px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 90%;
          margin-top: 10%;
    }
    .top-cont-inner{
      height: auto;
      width: 90%;
      line-height: 45px;
    }

    .top-cont-inner-span1 {
      font-size: 36px;
      font-weight: 700;
      /*color: white;*/
    }

    .top-cont-inner-span2 {
      font-size: 36px;
      font-weight: 700;
      color: #e25f43;
      
    }

    .top-cont-inner2 {
      width: 60%;
      height: auto;
      
    }

    .top-cont-inner3 {
      width: 73%;
      border-top: 1px solid rgb(198,83,59);
      padding-top: 2%;
      
    }

    .second-cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      margin-top: 250px;
      height: 700px;
    }

    .second-cont-left{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 500px;
    }

    .second-cont-p-cont{
      width: 100%;
      margin-top: 20px;
      line-height: 30px;
     
    }

    .third-cont {
      margin-top: 200px;
      height: 400px;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .third-cont-flex{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 300px;
      padding: 0;
    }

    .fourth-cont {
      margin-top: 200px;
      height: 300px;
      width: 90%;
    
    }

    .fourth-cont-inner-middle {
      margin-top: 30px;
      width: 100%;
      color: rgb(172, 170, 170);
    }

    .item h4{
      color: rgb(210,210,210);
      width: 90%;
      margin-left: 10%;
      
    }
    
    .item p{
      color: rgb(133, 132, 132);
      width: 90%;
      margin-left: 10%;
    }

    .sixth-cont{
      margin-top: 150px;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: auto;
      align-items: center;
    }

    .sixth-cont-upper{
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    .seventh-cont {
      margin-top: 300px;
      width: 90%;
      display: flex;
      flex-direction: row;
      height: 300px;
    }

    .seventh-cont-flex{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 120px;
    
    }

    .eight-cont-footer {
      margin-top: 150px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      background-color: black;
      align-items: center;
    }

    .footer-left {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .footer-left iframe {
      width: 100%;
      height: 300px;
    }

    .footer-right {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

    }

    .footer-right-bottom {
      height: 100px;
      border-top: 1px solid gray;
      width: 400px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
      color: rgb(172, 170, 170);
      word-spacing: 5px;
    }
  }


  /*cursor css*/

  .cursor {
    
    
  }

  .link-grow {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background,transform;
    transform-origin: 100% 100%;
    transform: scale(2);
    background: black;
    cursor: none;
    
  }

  .opaqued-white {
    cursor: none;
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background,transform;
    transform-origin: 100% 100%;
    transform: scale(2);
  
    background: #e25f43;
  }

  .opaqued-orange {
    width: 3rem;
    cursor: none;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transform: scale(2);
    transition: all 0.3s ease;
    transition-property: background,transform;
    transform-origin: 100% 100%;
    background: white;
    border: 2px solid #e25f43;
  }

  .hovered-link { 
    color: white;
  }

 /*vectors css*/

 .overflowcancel{
   overflow-y:hidden;
 }

 .vector1 {
  position: absolute;
  width: 100.5px;
  height: 0px;
  left: 0px;
  top: 194px;
  
  border: 1px solid #FFFFFF;
 }

 .vector2{
  position: absolute;
  width: 152px;
  height: 0px;
  left: 0px;
  top: 224.5px;
  
  border: 1px solid #EA533C;
 }

 .vector3{
  position: absolute;
  width: 51.5px;
  height: 0px;
  left: 0px;
  top: 253.5px;
  
  border: 1px solid #FFFFFF;
 }


.vector4{
  position: absolute;
width: 61.49px;
height: 0px;
left: 96%;
top: 194px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector5{
  position: absolute;
width: 93px;
height: 0px;
left: 93%;
top: 224.5px;

border: 1px solid #EA533C;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector6{
  position: absolute;
width: 31.51px;
height: 0px;
left: 98%;
top: 253.5px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector7{
  position: absolute;
width: 176.54px;
height: 0px;
left: 0px;
top: 1135px;

border: 1px solid #FFFFFF;
}

.vector8{
  position: absolute;
width: 267px;
height: 0px;
left: 0px;
top: 1165.5px;

border: 1px solid #EA533C;
}

.vector9 {
  position: absolute;
width: 90.46px;
height: 0px;
left: 0px;
top: 1194.5px;

border: 1px solid #FFFFFF;
}

.vector10{
  position: absolute;
width: 218.19px;
height: 0px;
left: 94%;
top: 1046px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector11{
  position: absolute;
width: 330px;
height: 0px;
left: 93%;
top: 1076.5px;

border: 1px solid #EA533C;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector12{
  position: absolute;
width: 111.81px;
height: 0px;
left: 97%;
top: 1105.5px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector13{
  position: absolute;
width: 377.54px;
height: 0px;
left: 0px;
top: 1493px;

border: 1px solid #FFFFFF;
}

.vector14{
  position: absolute;
width: 571px;
height: 0px;
left: 0px;
top: 1523.5px;

border: 1px solid #EA533C;
}

.vector15{
  position: absolute;
width: 193.46px;
height: 0px;
left: 0px;
top: 1552.5px;

border: 1px solid #FFFFFF;
}

.vector16{
  position: absolute;
width: 214.22px;
height: 0px;
left: 94%;
top: 1602px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector17{
  position: absolute;
width: 324px;
height: 0px;
left: 93%;
top: 1632.5px;

border: 1px solid #EA533C;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector18{
  position: absolute;
width: 109.78px;
height: 0px;
left: 97%;
top: 1661.5px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector19{
  position: absolute;
width: 128.27px;
height: 0px;
left: 0px;
top: 2255px;

border: 1px solid #FFFFFF;
}

.vector20{
  position: absolute;
width: 194px;
height: 0px;
left: 0px;
top: 2285.5px;

border: 1px solid #EA533C;
}

.vector21{
  position: absolute;
width: 65.73px;
height: 0px;
left: 0px;
top: 2314.5px;

border: 1px solid #FFFFFF;
}

.vector22{
  position: absolute;
width: 214.22px;
height: 0px;
left: 93%;
top: 2995px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector23{
  position: absolute;
width: 324px;
height: 0px;
left: 90%;
top: 3025.5px;

border: 1px solid #EA533C;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector24{
  position: absolute;
width: 109.78px;
height: 0px;
left: 95%;
top: 3054.5px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector25{
  position: absolute;
width: 128.27px;
height: 0px;
left: 0px;
top: 3628px;

border: 1px solid #FFFFFF;
}

.vector26{
  position: absolute;
width: 194px;
height: 0px;
left: 0px;
top: 3658.5px;

border: 1px solid #EA533C;
}

.vector27{
  position: absolute;
width: 65.73px;
height: 0px;
left: 0px;
top: 3687.5px;

border: 1px solid #FFFFFF;
}

.vector28{
  position: absolute;
width: 296.21px;
height: 0px;
left: 0px;
top: 4106px;

border: 1px solid #FFFFFF;
}

.vector29{
  position: absolute;
width: 448px;
height: 0px;
left: 0px;
top: 4136.5px;

border: 1px solid #EA533C;
}

.vector30{
  position: absolute;
width: 151.79px;
height: 0px;
left: 0px;
top: 4165.5px;

border: 1px solid #FFFFFF;
}

.vector31{
  position: absolute;
width: 214.22px;
height: 0px;
left: 94%;
top: 4561px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector32{
  position: absolute;
width: 324px;
height: 0px;
left: 93%;
top: 4591.5px;

border: 1px solid #EA533C;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector33{
  position: absolute;
width: 109.78px;
height: 0px;
left: 96%;
top: 4620.5px;

border: 1px solid #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.vector34{
  position: absolute;
width: 221.5px;
height: 0px;
left: 0px;
top: 5367px;

border: 1px solid #FFFFFF;
}

.vector35{
  position: absolute;
width: 335px;
height: 0px;
left: 0px;
top: 5397.5px;

border: 1px solid #EA533C;
}

.vector36{
  position: absolute;
width: 113.5px;
height: 0px;
left: 0px;
top: 5426.5px;

border: 1px solid #FFFFFF;
}